<h2><u>Perceptron</u></h2>
<p> A perceptron is a linear classifier that makes predictions based on combining
a set of weights with the feature vector </p>

<p> The decision boundary is: f(X) = W.X + b where W is the set of trained weights, X is the feature
  vector, b is the bias</p>

 <p>A perceptron starts with some learning rate, initial weights and bias, and trains by making
   updates to the weights/bias when it incorrectly classifies a point. This update
   is based on the learning rate</p>

 <p>In the below simulation, we have a perceptron for the xy plane that classifies
   points into two types A and B (the decision boundary will be f(x,y) = W<sub>1</sub>x + W<sub>2</sub>y + b). The model will classify f(X) &gt;= 0 as A and f(X)
  &lt; 0 as B. You can enter a starting learning rate and weights, and add points to see how the decision boundary
   updates based on the points added</p>

<p>Ex: Learning Rate: 0.1, W: 1 and 1, b: 1</p>
<form *ngIf = "!gotParameters" #parameterForm="ngForm" (ngSubmit)="getParameters(parameterForm)" action = "">

  <label for="alpha">Learning Rate: </label>
  <input type="number" id="alpha"
         ngModel name="alpha" required>

  <label for="w">W: </label>
  <input type="number" id="w1"
         ngModel name="w1" required>
  <input type="number" id="w2"
        ngModel name="w2" required>

  <label for="b">b: </label>
  <input type="number" id="b"
         ngModel name="b" required>

  <button type="submit"> Submit </button>

</form>

<button *ngIf = "gotParameters" class = "clear" (click) = "clearData()">Clear</button>
<button *ngIf = "gotParameters" class = "reset" (click) = "resetData()">Reset</button>

<form *ngIf = "gotParameters" #addForm="ngForm" (ngSubmit)="addPoint(addForm)" action = "">

  <label for="x">X: </label>
  <input type="number" id="x"
         ngModel name="x" required>

  <label for="y">Y: </label>
  <input type="number" id="y"
         ngModel name="y" required>

  <label for="type">Type: </label>
  <select id="type"
          ngModel name="type" required>
    <option *ngFor="let type of types" [value]="type">{{type}}</option>
  </select>

  <button type="submit"> Submit </button>

</form>

<div *ngIf = "gotParameters">
W = [{{W}}], &alpha; = {{alpha}},b = {{b}}
</div>

<div *ngIf = "showData">
{{dataStatement}}
</div>

<div *ngIf = "showRight">
{{rightStatement}}
</div>

<div *ngIf = "showWrong">
{{wrongStatement}} <br/>
{{wrongW}} <br/>
{{wrongb}}
</div>

<div *ngIf = "gotParameters" style="display: block; width: 1000px;">
  <canvas baseChart
    [datasets]="scatterChartData"
    [colors]="scatterChartColors"
    [options]="scatterChartOptions"
    [chartType]="scatterChartType">
  </canvas>
</div>
