<h2><u>Decision Tree</u></h2>
<p>Decision trees predict a target variable (classification or regression)
based on learning some decision rules from the training data. These rules are modeled
into a tree-based structure. The training process starts with a root node
and the algorithm keeps creating sub-nodes based on attributes that have the largest
information gain (how well the attribute separates the training data) and the
smallest entropy (measure of randomness). The training process stops when we
have all tree paths leading to leaf nodes. </p>

<p> In the below simulation, we have a decision tree model that will predict
  the resulting color if you mix a primary and secondary color. You need to add
a minimum of 3 points before making the tree. </p>
<p>Ex: Primary Color: Red, Secondary Color: Red, Result Color: Red <br/>
Primary Color: Red, Secondary Color: Blue, Result Color: Purple <br/>
Primary Color: Red, Secondary Color: Yellow, Result Color: Orange</p>
<p>Ex 2: Primary Color: Red, Secondary Color: Blue, Result Color: Red <br/>
Primary Color: Blue, Secondary Color: Red, Result Color: Purple <br/>
Primary Color: Yellow, Secondary Color: Red, Result Color: Orange</p>

<p>You can see how the constructed tree differs based on the points added and you
can test the model with some test data.</p>

<form *ngIf = "!gotParameters" #addForm="ngForm" (ngSubmit)="addTrainPoint(addForm)" action = "">

  <label for="color1">Primary Color: </label>
  <select id="color1"
          ngModel name="color1" required>
    <option *ngFor="let type of primaryColors" [value]="type">{{type}}</option>
  </select>

  <label for="color2">Secondary Color: </label>
  <select id="color2"
          ngModel name="color2" required>
    <option *ngFor="let type of secondaryColors" [value]="type">{{type}}</option>
  </select>

  <label for="color3">Result Color: </label>
  <select id="color3"
          ngModel name="color3" required>
    <option *ngFor="let type of resultingColors" [value]="type">{{type}}</option>
  </select>

  &nbsp;

  <button type="submit"> Add Point </button>

</form>

<button *ngIf = "!gotParameters" class = "submit" (click) = "makeDecisionTree()">Make Tree</button>

<button *ngIf = "gotParameters" class = "reset" (click) = "resetData()">Reset</button>

<form *ngIf = "gotParameters" #addForm="ngForm" (ngSubmit)="evaluatePoint(addForm)" action = "">

  <label for="primaryColor">Primary Color: </label>
  <select id="primaryColor"
          ngModel name="primaryColor" required>
    <option *ngFor="let type of primaryColors" [value]="type">{{type}}</option>
  </select>

  <label for="secondaryColor">Secondary Color: </label>
  <select id="secondaryColor"
          ngModel name="secondaryColor" required>
    <option *ngFor="let type of secondaryColors" [value]="type">{{type}}</option>
  </select>

  &nbsp;

  <button type="submit"> Predict </button>

</form>


<div *ngIf="showResult">
{{result}}
</div>

<div [hidden]="!gotParameters">
  <canvas #canvas width="1000" height="1000"></canvas>
</div>
