<div>
  <canvas #canvas></canvas>
</div>

<div *ngIf="haveModel" class="slidecontainer">
  <label>Layer: </label>
  <input type="range" min="0" max="{{model.layers.length-1}}"
  value="0" class="slider" [(ngModel)]="selectedLayer"
             ngModel (change)="showLayerInfo(selectedLayer)">
  {{selectedLayer+1}} ({{model.layers[selectedLayer].name}})
</div>



<div *ngIf =
"showConv && this.model.layers[selectedLayer].name.startsWith('conv2d')"
class="slidecontainer">
  <label>Input Channel: </label>
  <input type="range" min="1" max="{{maxInp}}"
    value="1" class="slider" [(ngModel)]="inputChannel"
    ngModel (change)="showConv2d(selectedLayer,inputChannel-1,outputChannel-1)">
  {{inputChannel}}
</div>

<div *ngIf =
"showConv && this.model.layers[selectedLayer].name.startsWith('conv2d')"
class="slidecontainer">
  <label>Output Channel: </label>
  <input type="range" min="1" max="{{maxOut}}"
    value="1" class="slider" [(ngModel)]="outputChannel"
    ngModel (change)="showConv2d(selectedLayer,inputChannel-1,outputChannel-1)">
  {{outputChannel}}
</div>

<form *ngIf=
"showConv && this.model.layers[selectedLayer].name.startsWith('conv2d')"
id="changeWeightForm" #changeWeightForm="ngForm"
(ngSubmit)="changeWeight(changeWeightForm)" action = "">

  <label for="row">Row: </label>
  <input type="number" id="row"
         ngModel name="row" required>

  <label for="col">Col: </label>
  <input type="number" id="col"
          ngModel name="col" required>

  <label for="val">Value: </label>
  <input type="number" id="val"
          ngModel name="val" required>

  <button type="submit"> Change Weight </button>
</form>


<div *ngIf = "showPooling &&
this.model.layers[selectedLayer].name.startsWith('max_pooling2d')" class="white-space-pre-line">
{{showPooling2d(selectedLayer)}}
</div>



<div style="display: flex; justify-content: space-around">
  <div class="white-space-pre-line"
  *ngIf =
  "showConv && this.model.layers[selectedLayer].name.startsWith('conv2d')">
  {{convString}}
  </div>

  <div [hidden] = "!showConv ||
  !this.model.layers[selectedLayer].name.startsWith('conv2d')">
    <canvas #canvas_filter></canvas>
  </div>
</div>

<div *ngIf =
"showConv && haveImage && this.model.layers[selectedLayer].name.startsWith('conv2d')"
class="slidecontainer">
  <label>Output Image: </label>
  <input type="range" min="0" max="{{maxImage-1}}"
  value="0" class="slider" [(ngModel)]="outputImage"
             ngModel (change)="visualizeFeature('assets/img_1.jpg', selectedLayer)">
  {{outputImage+1}}
</div>



<div style="display: flex; justify-content: space-around">
  <div [hidden] = "!showConv ||
  !this.model.layers[selectedLayer].name.startsWith('conv2d') || !haveImage">
    <canvas #canvas_original></canvas>
  </div>

  <div [hidden] = "!showConv ||
  !this.model.layers[selectedLayer].name.startsWith('conv2d') || !haveImage">
    <canvas #canvas_feature></canvas>
  </div>
</div>

<div [hidden] = "true">
  <canvas #canvas_scale></canvas>
</div>
