<form id="layerForm" #layerForm="ngForm" (ngSubmit)="showLayer(layerForm)" action = "">

  <label for="k">See Layer: </label>
  <input type="number" id="k"
         ngModel name="k" required>

  <button type="submit"> Submit </button>
</form>

<div>
  <canvas #canvas></canvas>
</div>

<div *ngIf = "showConv" class="slidecontainer">
  <label>Input Channel: </label>
  <input type="range" min="1" max="{{maxInp}}"
  value="1" class="slider" [(ngModel)]="inputChannel"
             ngModel>
  {{inputChannel}}
</div>

<div *ngIf = "showConv" class="slidecontainer">
  <label>Output Channel: </label>
  <input type="range" min="1" max="{{maxOut}}"
  value="1" class="slider" [(ngModel)]="outputChannel"
             ngModel>
  {{outputChannel}}
</div>

<form *ngIf="showConv" id="changeWeightForm" #changeWeightForm="ngForm"
(ngSubmit)="changeWeight(changeWeightForm)" action = "">

  <label for="row">Row: </label>
  <input type="number" id="row"
         ngModel name="row" required>

  <label for="col">Col: </label>
  <input type="number" id="col"
          ngModel name="col" required>

  <label for="val">Value: </label>
  <input type="number" id="val"
          ngModel name="val" required>

  <button type="submit"> Change Weight </button>
</form>

<div *ngIf = "showConv" class="white-space-pre-line">
{{showConv2d(selectedLayer,inputChannel-1,outputChannel-1)}}
</div>
