<form id="parameterForm" *ngIf = "!gotParameters" #parameterForm="ngForm" (ngSubmit)="getParameters(parameterForm)" action = "">
  <label for="points">Insert Points: </label>
  <textarea ngModel id="w3mission" rows="4" cols="50" name = "points" id="points" form = "parameterForm">
  </textarea>

  <label for="k">k: </label>
  <input type="number" id="k"
         ngModel name="k" required>

  <button type="submit"> Submit </button>
</form>

<button *ngIf = "gotParameters" class = "reset" (click) = "resetData()">Reset</button>
<button *ngIf = "gotParameters" class = "step" (click) = "step()">Step</button> <br/>


<form id="parameterForm" *ngIf = "gotParameters" #timeForm="ngForm" (ngSubmit)="Step(timeForm)" action = "">
  <label for="steps">Number of Steps: </label>
  <input type="number" id="steps"
         ngModel name="steps" min="2" step = "1" required>

  <button type="submit"> Run iterations </button>
</form>


<div *ngIf = "gotParameters">
  Current Centroids are:
  <div class = "clusters" *ngFor = "let point of clusters" >
    &nbsp;({{point['x']}},{{point['y']}})
  </div>
</div>

<div *ngIf = "gotParameters" style="display: block; width: 1000px;">
  <canvas baseChart
    [datasets]="scatterChartData"
    [colors]="scatterChartColors"
    [options]="scatterChartOptions"
    [chartType]="scatterChartType">
  </canvas>
</div>
