<div>
  <canvas #canvas></canvas>
</div>

<div *ngIf="haveModel" class="slidecontainer">
  <label>Layer: </label>
  <input type="range" min="0" max="{{model.layers.length-1}}"
  value="0" class="slider" [(ngModel)]="selectedLayer"
             ngModel (change)="showLayerInfo(selectedLayer)">
  {{selectedLayer+1}} ({{model.layers[selectedLayer].name}})
</div>

<div *ngIf = "showLstm && this.model.layers[selectedLayer].name.startsWith('lstm')
  && !this.model.layers[selectedLayer].name.includes('input')"
class="slidecontainer">
  <label> Gate: </label>
  <input type="range" min="0" max="{{gates.length-1}}"
    value="0" class="slider" [(ngModel)]="gateNum"
    ngModel (change)="showLSTM(gateNum, weightNum)">
  {{gates[gateNum]}}
</div>

<div *ngIf = "showLstm && this.model.layers[selectedLayer].name.startsWith('lstm')
  && !this.model.layers[selectedLayer].name.includes('input')"
class="slidecontainer">
  <label> Weight: </label>
  <input type="range" min="0" max="{{weights.length-1}}"
    value="0" class="slider" [(ngModel)]="weightNum"
    ngModel (change)="showLSTM(gateNum, weightNum)">
  {{weights[weightNum]}}
</div>

<div [hidden]="!showLstm
|| !this.model.layers[selectedLayer].name.startsWith('lstm')
|| this.model.layers[selectedLayer].name.includes('input')">
  <canvas #canvas_weight></canvas>
</div>


<div [hidden]="true">
  <canvas #canvas_original></canvas>
</div>


<div *ngIf = "showDense
&& this.model.layers[selectedLayer].name.startsWith('dense')"
style="display: block; width: 1000px;">
  <label>Output Node: </label>
  <input type="range" min="0" max="{{model.layers[selectedLayer].getWeights()[1].shape[0]-1}}"
  value="0" class="slider" [(ngModel)]="selectedDenseOut"
             ngModel (change)="showDenseLayer(selectedLayer,selectedDenseOut)">
  {{selectedDenseOut+1}}
</div>

<div *ngIf = "showLstm && this.model.layers[selectedLayer].name.startsWith('lstm')
  && !this.model.layers[selectedLayer].name.includes('input')" style="display: block; width: 1000px;">
  <canvas baseChart
  [labels] = "barChartLabel"
  [datasets]="barChartData"
  [options]="barChartOptions"
  [chartType]="barChartType">
</canvas>
</div>

<div *ngIf = "showDense
&& this.model.layers[selectedLayer].name.startsWith('dense')"
style="display: block; width: 1000px;">
  <canvas baseChart
    [labels] = "barChartLabel2"
    [datasets]="barChartData2"
    [options]="barChartOptions2"
    [chartType]="barChartType2">
  </canvas>
</div>

<div *ngIf = "showLSTMInput && this.model.layers[selectedLayer].name.startsWith('lstm')
  && this.model.layers[selectedLayer].name.includes('input')">
Input Layer to LSTM Layer
</div>
