<h2><u>RNN Interface Usage Information</u></h2>
<img  class="images" src="../../assets/RNN.PNG"/>
<p>Use the Sliders to interact with the interface. The layer slider allows you
to view information specific to the layer in chronological order. For LSTM
layers, 2 additional sliders are displayed for Gates and the type of Weights. An
LSTM cell has 4 gates: Input, Forget, Cell State, and Output gates. Furthermore,
there are 3 types of Weights: kernel, recurrent, and bias weights. You can
interact with the sliders to display a heatmap for different weights of the LSTM
cell given gate and type of weight. The x-axis of the heatmap is the units of
the LSTM cell (the number of output dimensions). The y-axis depends on the type
of weight. For kernel weights, the y-axis is the number of input dimensions, and
for recurrent weights, it is the number of output dimensions (the number of
cells). Furthermore, for the LSTM layer, a plot is generated for the layer
activations after a input is passed. The input image is displayed at the
beginning of the interface</p>

<p>For other layers like the lstm input layer, a short description of the layer
  is displayed. Finally, for dense layers, a plot of the layer weights is
  displayed for all the output values. Use the corresponding slider to see the
  plot for different output values. On top of layer information, the interface
  displays the encompassing network Architecture in chronlogical order from top
  to bottom. The model used in the interface is trained using the MNIST
  dataset which is a collection of handwritten digit images</p>

<div class="arch">
  <div class ="diagram">
    <canvas #canvas></canvas>
  </div>
  <div>
    <div *ngIf="haveModel" class="slidecontainer">
      <label>Layer: </label>
      {{selectedLayer+1}} ({{model.layers[selectedLayer].name}})
      <button (click)="changeLayer(-1)" class="nav"><</button>
      <button (click)="changeLayer(1)" class="nav">></button>
    </div>
  </div>
  <br>
  <br>
  <div *ngIf = "showDense
  && this.model.layers[selectedLayer].name.startsWith('dense')"
  style="display: block; width: 800px;">
    <label>Output Node: </label>
    <input type="range" min="0" max="{{model.layers[selectedLayer].getWeights()[1].shape[0]-1}}"
    value="0" class="slider" [(ngModel)]="selectedDenseOut"
               ngModel (change)="showDenseLayer(selectedLayer,selectedDenseOut)">
    {{selectedDenseOut+1}}
  </div>

  <div *ngIf = "showDense
  && this.model.layers[selectedLayer].name.startsWith('dense')"
  style="display: block; width: 800px;">
    <canvas baseChart
      [labels] = "barChartLabel2"
      [datasets]="barChartData2"
      [options]="barChartOptions2"
      [chartType]="barChartType2">
    </canvas>
  </div>
  <div *ngIf = "showLSTMInput && this.model.layers[selectedLayer].name.startsWith('lstm')
    && this.model.layers[selectedLayer].name.includes('input')">
  Input Layer to LSTM Layer
  </div>
  <div *ngIf = "showLstm && this.model.layers[selectedLayer].name.startsWith('lstm')
    && !this.model.layers[selectedLayer].name.includes('input')"
  class="slidecontainer">
    <label> Gate: </label>
    <input type="range" min="0" max="{{gates.length-1}}"
      value="0" class="slider" [(ngModel)]="gateNum"
      ngModel (change)="showLSTM(gateNum, weightNum)">
    {{gates[gateNum]}}
  </div>
  <br>
  <br>
  <div *ngIf = "showLstm && this.model.layers[selectedLayer].name.startsWith('lstm')
    && !this.model.layers[selectedLayer].name.includes('input')"
  class="slidecontainer">
    <label> Weight: </label>
    <input type="range" min="0" max="{{weights.length-1}}"
      value="0" class="slider" [(ngModel)]="weightNum"
      ngModel (change)="showLSTM(gateNum, weightNum)">
    {{weights[weightNum]}}
  </div>
  <br>
  <br>
  <div style="display: flex; justify-content: space-around">
    <div [hidden]="!showLstm
    || !this.model.layers[selectedLayer].name.startsWith('lstm')
    || this.model.layers[selectedLayer].name.includes('input')">
      <canvas #canvas_original></canvas>
    </div>

    <div [hidden]="!showLstm
    || !this.model.layers[selectedLayer].name.startsWith('lstm')
    || this.model.layers[selectedLayer].name.includes('input')">
      <canvas #canvas_weight></canvas>
    </div>
  </div>
</div>
<div *ngIf = "showLstm && this.model.layers[selectedLayer].name.startsWith('lstm')
  && !this.model.layers[selectedLayer].name.includes('input')" style="display: block; width: 800px;">
  <canvas baseChart
  [labels] = "barChartLabel"
  [datasets]="barChartData"
  [options]="barChartOptions"
  [chartType]="barChartType">
</canvas>
</div>
