<div class = "navbar">
  <a routerLink="/home">Home</a>
  <div class = "dropdown">
    <button class="button" [routerLink] = "['/machinelearning']">Machine Learning</button>
    <div class = "algorithms">
      <a routerLink="/machinelearning">Description</a>
      <a routerLink="/machinelearning/perceptron">Perceptron</a>
      <a routerLink="machinelearning/linearregression">Linear Regression</a>
    </div>
  </div>
  <div class = "dropdown">
    <button class="button" [routerLink] = "['/deeplearning']">Deep Learning</button>
    <div class = "algorithms">
      <a routerLink="/deeplearning">Description</a>
      <a routerLink="/machinelearning/perceptron">Convolutional Neural Networks (CNN)</a>
      <a routerLink="/machinelearning/perceptron">Recurrent Neural Networks (RNN)</a>
    </div>
  </div>
  <div class = "dropdown">
    <button class="button" [routerLink] = "['/reinforcementlearning']">Reinforcement Learning</button>
    <div class = "algorithms">
      <a routerLink="/reinforcementlearning">Description</a>
      <a routerLink="/machinelearning/perceptron">Q-Learning</a>
      <a routerLink="/machinelearning/perceptron">DQN</a>
    </div>
  </div>
</div>

<div class ="spacer">
  &nbsp;
</div>
