<div class = "navbar">
  <a routerLink="/home">Home</a>
  <div class = "dropdown">
    <button class="button" [routerLink] = "['/machinelearning']">Machine Learning</button>
    <div class = "algorithms">
      <a routerLink="/machinelearning">Description</a>
      <a routerLink="/machinelearning/perceptron">Perceptron</a>
      <a routerLink="machinelearning/linearregression">Linear Regression</a>
      <a routerLink="machinelearning/logisticregression">Logistic Regression</a>
      <a routerLink="machinelearning/kmeans"> K-means Clustering</a>
      <a routerLink="machinelearning/knn">K-Nearest Neighbours</a>
      <a routerLink="machinelearning/svm">SVM</a>
      <a routerLink="machinelearning/decisiontree">Decision Tree</a>
      <a routerLink="machinelearning/randomforest">Random Forest</a>
    </div>
  </div>
  <div class = "dropdown">
    <button class="button" [routerLink] = "['/deeplearning']">Deep Learning</button>
    <div class = "algorithms">
      <a routerLink="/deeplearning">Description</a>
      <a routerLink="/deeplearning/cnn">Convolutional Neural Networks (CNN)</a>
      <a routerLink="/deeplearning/rnn">Recurrent Neural Networks (RNN)</a>
    </div>
  </div>
  <div class = "dropdown">
    <button class="button" [routerLink] = "['/reinforcementlearning']">Reinforcement Learning</button>
    <div class = "algorithms">
      <a routerLink="/reinforcementlearning">Description</a>
      <a routerLink="/machinelearning/perceptron">Q-Learning</a>
      <a routerLink="/machinelearning/perceptron">DQN</a>
    </div>
  </div>
</div>

<div class ="spacer">
  &nbsp;
</div>
