<form *ngIf = "!gotParameters" #addForm="ngForm" (ngSubmit)="addTrainPoint(addForm)" action = "">

  <label for="color1">Primary Color: </label>
  <select id="color1"
          ngModel name="color1" required>
    <option *ngFor="let type of primaryColors" [value]="type">{{type}}</option>
  </select>

  <label for="color2">Secondary Color: </label>
  <select id="color2"
          ngModel name="color2" required>
    <option *ngFor="let type of secondaryColors" [value]="type">{{type}}</option>
  </select>

  <label for="color3">Result Color: </label>
  <select id="color3"
          ngModel name="color3" required>
    <option *ngFor="let type of resultingColors" [value]="type">{{type}}</option>
  </select>

  &nbsp;

  <button type="submit"> Add Point </button>
</form>

<form *ngIf = "!gotParameters" #makeForest="ngForm" (ngSubmit)="makeRandomForest(makeForest)" action = "">
  <br/>
  <label for="trees">Num Trees: </label>
  <input type="number" ngModel id="trees" name="trees">

  <label for="sample">Sample Size: </label>
  <input type="number" ngModel id = "sample" name="sample">

  <button type="submit"> Make Forest </button>
</form>


<button *ngIf = "gotParameters" class = "reset" (click) = "resetData()">Reset</button>

<form *ngIf = "gotParameters" #addForm="ngForm" (ngSubmit)="evaluatePoint(addForm)" action = "">

  <label for="primaryColor">Primary Color: </label>
  <select id="primaryColor"
          ngModel name="primaryColor" required>
    <option *ngFor="let type of primaryColors" [value]="type">{{type}}</option>
  </select>

  <label for="secondaryColor">Secondary Color: </label>
  <select id="secondaryColor"
          ngModel name="secondaryColor" required>
    <option *ngFor="let type of secondaryColors" [value]="type">{{type}}</option>
  </select>

  &nbsp;

  <button type="submit"> Predict </button>

</form>


<div *ngIf="showResult">
{{result}} <br/>
{{result2}}
</div>

<div *ngIf = "showResult" style="display: block; width: 1000px;">
  <canvas baseChart
    [labels] = "barChartLabel"
    [datasets]="barChartData"
    [colors]="barChartColors"
    [options]="barChartOptions"
    [chartType]="barChartType">
  </canvas>
</div>
